@import "tailwindcss";

@theme {
  --color-primary: #18181b;
  --color-primary-foreground: #fafafa;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
  --color-background: #ffffff;
  --color-foreground: #09090b;
  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
  --color-ring: #18181b;
}


:root {
	font-family: 'Roboto Mono', monospace;
	color-scheme: dark;
	background: #101010;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	min-width: 320px;
	min-height: 100%;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #292929 transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}

.scrollbar-custom::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}